# Основы pandas

In [1]:
import pandas as pd

Пример забора данных с сайтов

In [ ]:
pd.read_excel('', sheet_name='')

In [ ]:
pd.DataFrame.to_sql()

In [2]:
pd.read_html('http://www.cbr.ru')[0]

ValueError: No tables found

# < table>

# API

# Beautiful Soup

In [4]:
pd.read_html('https://rosstat.gov.ru/opendata/7708234640-ca1502036', encoding='utf-8')[0]

,№,Характеристика,Значение
0,1,Оцените востребованность набора,NaN
1,2,Идентификационный номер (код) набора данных,7708234640-ca1502036
2,3,Наименование набора данных,Реестр вакансий Территориального органа Федера...
3,4,Описание набора данных,Перечень вакансий Хабаровскстата и основные да...
4,5,Владелец набора данных,Федеральная служба государственной статистики
5,6,Ответственное лицо,Волкова Валентина Владимировна
6,7,Телефон ответственного лица,+74956073012
7,8,Адрес электронной почты ответственного лица,volkova@gks.ru
8,9,Гиперссылка (URL) на набор,data-20210401-structure-20150401.csv
9,10,Формат набора открытых данных,CSV
10,11,Описание структуры набора,structure-20150401.csv
11,12,Дата первой публикации набора открытых данных,25.12.2013
12,13,Дата последнего внесения изменений,01.04.2021
13,14,Содержание последнего изменения,изменение перечня вакансий
14,15,Дата актуальности набора данных,01.04.2021
15,16,"Ключевые слова, соответствующие содержанию наб...","Росстат, вакансии, государственная служба, работа"
16,17,Гиперссылки (URL) на версии набора открытых да...,data-20210401-structure-20150401.csv data-202...
17,18,Гиперссылки (URL) на версии структуры набора о...,structure-20150401.csv
18,19,Версия методических рекомендаций,http://opendata.gosmonitor.ru/standard/3.0

In [ ]:
page_url = 'https://www.finanz.ru/valyuty/usd-rub'

# Импортируем нужную нам страницу в df
# attrs = {'class': 'news_table'} ---> указываем какой именно блок нам нужен
# encoding='utf-8' ---> указываем кодировку страниц для корректного отображения кириллицы
df = pd.read_html(page_url, attrs = {'class': 'news_table'}, encoding='utf-8')

In [ ]:
df[:5]

Импорт данных из файла

In [7]:
data = pd.read_csv('power.csv', sep=',')
data.head()

   country  year  quantity  category
0  Austria  1996       5.0         1
1  Austria  1995      17.0         1
2  Belgium  2014       0.0         1
3  Belgium  2013       0.0         1
4  Belgium  2012      35.0         1

In [ ]:
data.tail()

In [ ]:
type(data)

In [ ]:
# если надо указать свои заголовки и разделитель
# data = pd.read_csv('power.csv', names = ['страна', 'год', 'количество', 'категория'], sep = '\t', header=0)
# data.head()

In [ ]:
# количество строк в датафрейме

len(data)

In [ ]:
# или так

data.shape

Простые вычисления для нового столбца

In [ ]:
data['year_plus_one'] = data['year'] + 1
data.head()

### Упражнение
Вам дана статистика продаж в файле transactions.csv. Вам необходимо загрузить этот файл в датафрейм и посчитать его размеры.

### Основные сведения о датафрейме

In [8]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1189482 entries, 0 to 1189481
Data columns (total 4 columns):
 #   Column    Non-Null Count    Dtype
---  ------    --------------    -----
 0   country   1189482 non-null  object
 1   year      1189482 non-null  int64
 2   quantity  1189482 non-null  float64
 3   category  1189482 non-null  int64
dtypes: float64(1), int64(2), object(1)
memory usage: 36.3+ MB

In [11]:
2**(64-1)

9223372036854775808

In [12]:
# немного статистики

data.describe()

               year      quantity      category
count  1.189482e+06  1.189482e+06  1.189482e+06
mean   2.002852e+03  1.842648e+05  3.624763e+01
std    7.167345e+00  1.585663e+07  1.809968e+01
min    1.990000e+03 -8.643480e+05  1.000000e+00
25%    1.997000e+03  1.400000e+01  2.400000e+01
50%    2.003000e+03  1.890000e+02  3.500000e+01
75%    2.009000e+03  2.265000e+03  5.100000e+01
max    2.014000e+03  6.680329e+09  7.100000e+01

In [26]:
df = pd.DataFrame({'data': ['1', None, 3]})
df

   data
0     1
1  None
2     3

In [27]:
df.data.apply(lambda x: int(x))

TypeError: int() argument must be a string, a bytes-like object or a number, not 'NoneType'

In [23]:
pd.to_numeric(df.data, errors='coerce')

0    NaN
1    NaN
2    3.0
Name: data, dtype: float64

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   data    2 non-null      object
dtypes: object(1)
memory usage: 152.0+ bytes

In [15]:
df.data.mean()

2.0

### Отдельный столбец (тип Series)

In [ ]:
data['year'].head()

In [ ]:
# или так

data.year.head()

In [ ]:
type(data['year'])

In [ ]:
data.head()

In [ ]:
# уникальные значения в столбце

data['category'].unique()

In [ ]:
len(data['category'].unique())

In [ ]:
data['category'].head()

In [ ]:
# распределение количества строк по значениям столбца

data['category'].value_counts().head(10)

In [ ]:
data['category'].value_counts(normalize=True).head()

### Упражнение
Используем файл transactions.csv. Определите какой товар (столбец Product) упоминается в файле чаще всего?

# Фильтры

In [ ]:
data = pd.read_csv('power.csv')
data.head()

In [ ]:
# выбрать несколько столбцов

country_stats = data.filter(items = ['country', 'quantity'])
country_stats.head()

In [ ]:
# или так

data[['country', 'quantity']].head()

### Отфильтруем строки с потреблением выше среднего

In [ ]:
average_level = data['quantity'].mean()
average_level

In [ ]:
'quantity > {}'.format(average_level)

In [ ]:
# строки с потреблением больше среднего

average_level = data['quantity'].mean()
country_stats.query('quantity > {}'.format(average_level)).head()

In [ ]:
# самый популярный способ

data[ data.quantity > average_level ].head()

### Как определить используемый вариант названия страны?

In [ ]:
data['country'].unique()

In [ ]:
# найдем как называется Россия и Беларусь в этом датафрейме
# фильтр на подстроку - смотрим все страны, содержащие в названии 'us'

data[ data['country'].str.contains('us', case=False) ]['country'].unique()

In [ ]:
# фильтр на несколько условий сразу
# | - условие ИЛИ
# & AND
# () | (() | () & ())
filtered_countries = data[ (data['country']=='Russian Federation') | (data['country']=='Belarus') ]

filtered_countries.head()

In [ ]:
filtered_countries['country'].unique()

In [ ]:
# фильтры на номер строки

data.loc[1000:1005]

# Сортировка

In [ ]:
# Сортировка по столбцу

data.sort_values(by='quantity').head()

In [ ]:
# сортировка по убыванию

data.sort_values('quantity', ascending=False).head()

In [ ]:
# сортировка по нескольким столбцам

data.sort_values(by=['year', 'country', 'quantity'], ascending=[False, True, False]).head(50)

### Параметр inplace

In [ ]:
data.head()

In [ ]:
data.sort_values('country', ascending=True, inplace=rewrite)

In [ ]:
data = data.sort_values(by=['country', 'year', 'quantity'], ascending=[True, True, False])

# чтобы сократить это выражение используем inplace:
data.sort_values(by=['country', 'year', 'quantity'], ascending=[True, True, False], inplace=True)

### Упражнение
Используем transactions.csv.

Для какой транзакции (столбец ID) были наибольшие расходы (столбец Cost) в категории "_8" (столбец Product)?