In [165]:
import pandas as pd
from sklearn.linear_model import LogisticRegression # Импортируем модуль логистической регрессии
from sklearn.svm import SVC # Импортируем метод опорных векторов SVM класс SVC (SVC, NuSVC и LinearSVC)
from sklearn.svm import LinearSVC # Импортируем метод опорных векторов SVM класс LinearSVC (SVC, NuSVC и LinearSVC)
from sklearn.preprocessing import LabelEncoder # переведем значения столбца в числа, оставив один столбец
from sklearn.preprocessing import StandardScaler # Это функция стандартизации значений данных.Стандартизация применима только к значениям данных,которые соответствуют нормальному распределению
from sklearn.pipeline import make_pipeline # используем пайплайны для удобства
from sklearn.model_selection import train_test_split # Функции для разделения данных на данные для обучения и тестирования

In [170]:
# Выгружаем данные
data = pd.read_csv('C:/Users/user/Desktop/PYDP-19-DSU-4/PYDP19_DSU4_homeworks/Машинное обучение/Логистическая регрессия и SVM 22.11.21/Лекция_2/adult.csv')
data.head(3)

,age,workclass,fnlwgt,education,educational-num,marital-status,occupation,relationship,race,gender,capital-gain,capital-loss,hours-per-week,native-country,income
0,25,Private,226802,11th,7,Never-married,Machine-op-inspct,Own-child,Black,Male,0,0,40,United-States,<=50K
1,38,Private,89814,HS-grad,9,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,50,United-States,<=50K
2,28,Local-gov,336951,Assoc-acdm,12,Married-civ-spouse,Protective-serv,Husband,White,Male,0,0,40,United-States,>50K

In [67]:
data['income'].unique()

array(['<=50K', '>50K'], dtype=object)

In [68]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48842 entries, 0 to 48841
Data columns (total 15 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   age              48842 non-null  int64
 1   workclass        48842 non-null  object
 2   fnlwgt           48842 non-null  int64
 3   education        48842 non-null  object
 4   educational-num  48842 non-null  int64
 5   marital-status   48842 non-null  object
 6   occupation       48842 non-null  object
 7   relationship     48842 non-null  object
 8   race             48842 non-null  object
 9   gender           48842 non-null  object
 10  capital-gain     48842 non-null  int64
 11  capital-loss     48842 non-null  int64
 12  hours-per-week   48842 non-null  int64
 13  native-country   48842 non-null  object
 14  income           48842 non-null  object
dtypes: int64(6), object(9)
memory usage: 5.6+ MB

In [79]:
# Переведу гендерную принадлежность и целевую переменную в цифровые значения 0 и 1
le = LabelEncoder()
le.fit(data['gender'])
data['gender'] = le.transform(data['gender'])
le.fit(data['income'])
data['income'] = le.transform(data['income'])

# Удаляю строки, где в трех столбцах есть значение "?"
data = data[data['native-country'] !='?']
data = data[data['occupation'] !='?']
data = data[data['workclass'] !='?']

# создаю целевую переменную y
y = data['income']

# Удалю столбцы 'fnlwgt' (т.к. я не понимаю, что это за значение) и 'education'(т.к. есть второй столбец 'educational-num' с соответствующими ему цифровыми значениями)
del data['fnlwgt'], data['education'], data['income']

data.head()

,age,workclass,educational-num,marital-status,occupation,relationship,race,gender,capital-gain,capital-loss,hours-per-week,native-country
0,25,Private,7,Never-married,Machine-op-inspct,Own-child,Black,1,0,0,40,United-States
1,38,Private,9,Married-civ-spouse,Farming-fishing,Husband,White,1,0,0,50,United-States
2,28,Local-gov,12,Married-civ-spouse,Protective-serv,Husband,White,1,0,0,40,United-States
3,44,Private,10,Married-civ-spouse,Machine-op-inspct,Husband,Black,1,7688,0,40,United-States
5,34,Private,6,Never-married,Other-service,Not-in-family,White,1,0,0,30,United-States

In [82]:
# Переведу workclass, occupation, marital-status, native-country в цифровые значения
data = pd.get_dummies(data, columns = ['workclass','marital-status','occupation','relationship','race','native-country'])

In [83]:
data.head()

,age,educational-num,gender,capital-gain,capital-loss,hours-per-week,workclass_Federal-gov,workclass_Local-gov,workclass_Private,workclass_Self-emp-inc,...,native-country_Portugal,native-country_Puerto-Rico,native-country_Scotland,native-country_South,native-country_Taiwan,native-country_Thailand,native-country_Trinadad&Tobago,native-country_United-States,native-country_Vietnam,native-country_Yugoslavia
0,25,7,1,0,0,40,0,0,1,0,...,0,0,0,0,0,0,0,1,0,0
1,38,9,1,0,0,50,0,0,1,0,...,0,0,0,0,0,0,0,1,0,0
2,28,12,1,0,0,40,0,1,0,0,...,0,0,0,0,0,0,0,1,0,0
3,44,10,1,7688,0,40,0,0,1,0,...,0,0,0,0,0,0,0,1,0,0
5,34,6,1,0,0,30,0,0,1,0,...,0,0,0,0,0,0,0,1,0,0

In [86]:
# Данные подготовлены. Теперь можно проводить обучение.
#data.info()

### 1. Построение модели логистической регрессии, которая предсказывает уровень дохода человека. Проверка на DF.

In [109]:
# Оформим через пайплан, стандартизируя данные (StandardScaler())
model = make_pipeline(StandardScaler(), LogisticRegression())

In [122]:
# Разделю данные на 2 части - для обучения (train) и для проверки (test)
X_train, X_test, y_train, y_test = train_test_split(data, y, test_size=0.3)

In [123]:
model.fit(X_train, y_train) # обучаем на терниворочных данных

Pipeline(steps=[('standardscaler', StandardScaler()),
                ('logisticregression', LogisticRegression())])

In [124]:
model.score(X_train, y_train)

0.8479861001421576

In [125]:
model.score(X_test, y_test)

0.8488243532099948

### 2. Построение модели SVM (класс SVC), которая предсказывает уровень дохода человека. Проверка на DF.

In [151]:
# Оформим через пайплан, стандартизируя данные (StandardScaler())
model1 = make_pipeline(StandardScaler(), SVC(kernel='rbf')) # kernel='linear', kernel='rbf', kernel='poly', kernel='sigmoid'

In [152]:
model1.fit(X_train, y_train)

Pipeline(steps=[('standardscaler', StandardScaler()), ('svc', SVC())])

In [153]:
model1.score(X_train, y_train)

0.8539567208971727

In [154]:
model1.score(X_test, y_test)

0.8441070243974349

### 3. Построение модели SVM (класс LinearSVC), которая предсказывает уровень дохода человека. Проверка на DF.

In [163]:
# Оформим через пайплан, стандартизируя данные (StandardScaler())
model2 = make_pipeline(StandardScaler(), LinearSVC()) #

In [164]:
model2.fit(X_train, y_train)

C:\Users\user\anaconda3\lib\site-packages\sklearn\svm\_base.py:976: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  warnings.warn("Liblinear failed to converge, increase "

Pipeline(steps=[('standardscaler', StandardScaler()),
                ('linearsvc', LinearSVC())])

In [166]:
model2.score(X_train, y_train)

0.8475438319380825

In [167]:
model2.score(X_test, y_test)

0.8492666027861723